
.social-media-item-container {
  margin: 0 12px;
}

.social-media-item-container__logo {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .social-media-item-container__logo {
    width: 56px;
    height: 56px;
  }
}