
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  height: 48px;
  background-color: #303F9F;
}

.footer p {
  font-size: 1rem;
  font-weight: normal;
  color: white;
}

.footer__react-logo {
  width: 18px;
  margin: 0 4px;
}

.footer img {
  width: 18px;
  margin: 0 4px;
}

@media screen and (min-width: 768px) {
  .footer {
  height: 64px;
  background-color: #303F9F;
}

.footer p {
  font-size: 1.8rem;
  font-weight: normal;
  color: white;
}

.footer__react-logo {
  width: 24px;
  margin: 0 8px;
}

.footer img {
  width: 24px;
  margin: 0 8px;
}
}
