
.projects-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-screen__title {
  font-size: 1.8rem;
  font-weight: 500;
  color: #624CAB;
  margin-top: 32px;
}