
.project-card-container {
  position: relative;
  margin-top: 22px;
  width: 100%;
  /* background-color: tomato; */
}

.project-card-container__carousel {
  padding: 10px 0;
  /* background-color: cornflowerblue; */
}

.rec.rec-arrow {
  background: none;
  align-self: center;
  font-size: 2.4rem;
}

@media screen and (min-width: 768px) {
  .project-card-container {
    margin-top: 72px;
  }
  .rec.rec-carousel {
    width: 600px;
  }
}