/* .home-screen {
  min-width: 320px;
  height: 100vh;
}


.home-screen__section-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 248px;
  background-image: linear-gradient(to right, #4e58c8, #8f94fb);
}

.home-screen__logo {
  position: absolute;
  left: -277px;
  top: -246.49px;
}

.home-screen__section-1--figure {
  z-index: 1;
  display: flex;
  min-width: 160px;
  width: 50vw;
  min-height: 160px;
  margin-top: 40px;
  margin-bottom: 16px;
  border-radius: 50%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  overflow: hidden;
}

.home-screen__section-1--image {
  z-index: 1;
  min-width: 160px;
  width: 50vw;
}

.home-screen__section-1--name {
  z-index: 1;
  margin-bottom: 6px;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}



.home-screen__section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-screen__section-2--profession {
  font-size: 1.6rem;
  color: #624CAB;
  margin-top: 4px;
}

.home-screen__section-2--container-social-media {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.home-screen__section-2--container-social-media a {
  margin: 0 8px;
}

.home-screen__section-2--container-contact {
  margin-top: 30px;
  margin-left: 40px;
  align-self: flex-start;
}

.home-screen__section-2--container-contact-data {
  display: flex;
  flex-direction: row;

  align-items: center;
  margin-top: 4px;
}

.home-screen__section-2--container-contact-data p {
  margin-left: 4px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #758ECD;
}



@media screen and (min-width: 768px) and (max-width: 1023px) {
  .home-screen__section-1 {
    width: 100%;
    height: 384px;
  }
  .home-screen__logo {
    
  }
  .home-screen__section-1--figure {
    width: 240px;
    height: 240px;
  }
  .home-screen__section-1--image {

  }
} */


.home-screen {
  
}

.home-screen-section-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-screen-background {
  position: absolute;
  top: 0;
  z-index: -10;
  width: 100%;
  height: 258px;
  background-image: linear-gradient(to right, #4e58c8, #8f94fb);
}

.home-screen-section-1__figure {
  width: 160px;
  height: 160px;
  margin-top: 40px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.home-screen-section-1__image {
  width: 100%;
}

.home-screen-section-1__container-titles--title {
  font-size: 2.4rem;
  font-weight: bold;
  color: white;
  margin-top: 24px;
}

.home-screen-section-1__container-titles--profession {
  font-size: 2.0rem;
  font-weight: medium;
  color: #624CAB;
  margin-top: 10px;
  text-align: center;
}

.home-screen-section-1__logo-react {
  position: absolute;
  top: -248px;
  left: -277px;
  z-index: -5;
}