
.home-screen {
  
}

/* Section 1 Starts */

.home-screen-section-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-screen-background {
  position: absolute;
  top: 0;
  z-index: -10;
  width: 100%;
  height: 258px;
  background-image: linear-gradient(to right, #4e58c8, #8f94fb);
}

.home-screen-section-1__figure {
  width: 160px;
  height: 160px;
  margin-top: 40px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.home-screen-section-1__image {
  width: 100%;
}

.home-screen-section-1__container-titles--title {
  font-size: 2.4rem;
  font-weight: bold;
  color: white;
  margin-top: 24px;
}

.home-screen-section-1__container-titles--profession {
  font-size: 2.0rem;
  font-weight: medium;
  color: #624CAB;
  margin-top: 10px;
  text-align: center;
}

.home-screen-section-1__logo-react {
  position: absolute;
  width: 554px;
  height: 493px;
  top: -248px;
  left: -277px;
  z-index: -5;
}

.home-screen-section-1__container-social-media {
  margin-top: 40px;
}

/* Section 2 starts */

.home-screen-section-2__about-me {
  margin-top: 32px;
  padding: 0 40px;
  text-align: center;
  font-size: 1.4rem;
  color: #624CAB;
}

.home-screen-section-2__about-me-text--part-2 {
  display: none;
}

/* Section 3 starts */

.home-screen-section-3__contact-and-location {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  margin-top: 40px;
}

.home-screen-section-3__icon {
  width: 22px;
  height: 22px;
}

.home-screen-section-3__contact-and-location--section-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-screen-section-3__mail {
  text-decoration: none;
  font-size: 1.2rem;
  color: #758ECD;
  font-weight: 400;
  margin-left: 6px;
}

.home-screen-section-3__contact-and-location--section-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 4px;
}

.home-screen-section-3__location {
  font-size: 1.2rem;
  color: #758ECD;
  font-weight: 400;
  margin-left: 6px;
}

/* Media queries Tablet starts */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .home-screen-section-1 {
    border: 1px solid green;
    height: 384px;
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .home-screen-background {
    height: 384px;
  }
  .home-screen-section-1__image-container {
    border: 1px solid red;
    background-color: cornflowerblue;
    width: 280px;
    height: 100%;
    padding-left: 40px;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .home-screen-section-1__figure {
    width: 240px;
    height: 240px;
    margin-top: 72px;
  }
  .home-screen-section-1__container-titles {
    border: 1px solid red;
  }
  .home-screen-section-1__container-titles--title {
    font-size: 4.2rem;
    margin-top: 72px;
  }
  .home-screen-section-1__container-titles--profession {
    font-size: 3.4rem;
    margin-top: 12px;
    text-align: start;
  }
  .home-screen-section-1__logo-react {
    width: 1171px;
    height: 1042px;
    top: -521px;
    left: -585.5px;
  }
  .home-screen-section-1__container-social-media {
    border: 1px solid red;
    
  }
}