
.technology-screen-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 64px;
  height: 90px;
  margin: 0 32px 32px;
}

.technology-screen-item__figure {
  width: 64px;
  height: 64px;
}

.technology-screen-item__image {
  width: 100%;
  height: 100%;
}

.technology-screen-item__technology-text {
  font-size: 1.2rem;
  font-weight: 500;
  color: #7189FF;
}

@media screen and (min-width: 768px) {

  .technology-screen-item-container {
    width: 154px;
    height: 205px;
  }
  .technology-screen-item__figure {
    height: 140px;
    width: 140px;
    transform-origin: top;
  }
  .technology-screen-item__technology-text {
    font-size: 2.8rem;
  }

}