
.technology-screen-item-container {
  width: 64px;
  height: 90px;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.technology-screen-item__figure {
  width: 64px;
  height: 64px;
}

.technology-screen-item__image {
  width: 100%;
  height: 100%;
}

.technology-screen-item__technology-text {
  margin-top: 8px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--dark-primary-color);
}